* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
  background-image: url("fondo.jpg");
    background-color: #f0f0f0; 
    background-repeat: no-repeat;
    background-size: cover;
    
    background-position: center;
  
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  main {
    background-color: #ffffff; 
    max-width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }
  button {
    
    background-color: rgb(255, 255, 255);
    margin: 10%;
    display: block;
    margin: 0 auto;
    text-align:center;
    margin-inline:20px;
        
   
    
  }  